html, body { height: 100%; }
*{
	margin: 0px;
	padding: 0px;
}
h1{
	font: bold 20px Tahoma;
}
h2{
	font: bold 14px Tahoma;
}
h4{
	font: bold 14px Tahoma;
}
header, section, footer, aside, nav, article, hgroup, img{
	display: block;
}
body{
	font: 12px/2em;
	text-align: center;	
	background-image:url('myndir/nr2.png');
}
#picture{
	background-image:url('myndir/cover2.jpg');
	max-width: 100%;
	overflow: hidden;
	height: 150px;
}
#big_wrapper{
	position: relative;
	border: 2px solid black;
	width: 80%;
	max-width: 1024px;
	min-height: 100%;
	background:#fff0fe;
	margin: 0px auto;
	text-align: left;
}
#menu{
	background: #eddfed;
	text-align: center;
	border-bottom: 2px solid black;
}
#menu li{
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: bold 14px Tahoma
	
}
#texti{
	float: left;
	width: 68%;
	margin: 30px;
	margin-bottom: 20%; /*720px, 280 eftir*/

}
#sidebar{
	float: left;
	width: 18%;
	margin: 30px 0px;
	padding: 30px;
	background: #eddfed;
	border: 2px solid black;
	margin-bottom: 20%;
}
#the_footer{
	position:fixed;
   	bottom:0;
	clear: both;
	width: 100%;
	height: 25px;
	margin-top: 100px;
	background: #eddfed;
	float: bottom;
	text-align: center;
	line-height: 10;
	border-top: 2px solid black;
	font-size: 18px;

}
article{
	background: #eddfed;
	border: 2px solid black;
	padding: 20px;
	margin-bottom: 15px;
}
article p{
	font-size: 12px/2em;
}

img{
	margin: 10px;
	 height: 150px;
}

@media screen 
and (min-width : 0px) 
and (max-width : 400px) {
	body { font: 16px/1.5em 'open_sansregular', Verdana, sans-serif;
}
	#big_wrapper { width: 100%; 
	}
	#picture{
		background-image:url('myndir/litla.jpg');
		background-repeat: no-repeat;
		width: 100%
	}
}

@media screen 
and (min-width : 400px)
and (max-width : 800px)
{
	nav ul li { padding: 0 0.3em; }
	
	#picture{
		background-image:url('myndir/midja.jpg');
		background-repeat: no-repeat;
		width: 100%;
	}
}

