*{
	margin: 0px;
	padding: 0px;
}
h1{
	font: bold 20px Tahoma;
}
h2{
	font: bold 14px Tahoma;
}
header, section, footer, aside, nav, article, hgroup, img{
	display: block;
}
body{
	text-align: center;	
	background-image:url('myndir/bakgrunnur.jpg');
}

#bigwrapper{
	border: 5px solid black;
	width: 1024px;
<<<<<<< HEAD
	height:600px;
	margin: 10px auto;
	text-align: left;
	background:#cb0077;
=======
	height: 100%;
	margin: 20px auto;
	text-align: left;
	background-color:#ded085;
>>>>>>> 4927220cd255c1522ef14d8cbd6cfe26a3b6d879
}

#cImg{
	margin:0;
	padding: 0;
	border-bottom: 1px solid black;
}

#menu{
<<<<<<< HEAD
	background: #E5399E;
=======
	background: #ff4755;
	text-align: center;
>>>>>>> 4927220cd255c1522ef14d8cbd6cfe26a3b6d879
}
#menu li{
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: bold 14px Tahoma
	
}
#texti{
	float: left;
	width: 660px;
	margin: 30px; /*720px, 280 eftir*/
}
#sidebar{
	float: left;
	width: 220px;
	margin: 30px 0px;
	padding: 30px;
	background: #E5399E;
	border-style: double;
	border-width: 5px;
}
#the_footer{
	position:fixed;
   	bottom:0;
	clear: both;
	width: 100%;
<<<<<<< HEAD
	height: 100px;
	margin-top: 100px;
	background: #84004d; /* Old browsers */
	/*background: -moz-linear-gradient(top,  #ff4755 0%, #fcaa46 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff4755), color-stop(100%,#fcaa46)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  #ff4755 0%,#fcaa46 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  #ff4755 0%,#fcaa46 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  #ff4755 0%,#fcaa46 100%); /* IE10+ */
	/*background: linear-gradient(to bottom,  #ff4755 0%,#fcaa46 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4755', endColorstr='#fcaa46',GradientType=0 );*//* IE6-9 */
	float: bottom;
	text-align: center;
	line-height: 10;
=======
	height: 7%;
	background: #ff4755; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff4755 0%, #fcaa46 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff4755), color-stop(100%,#fcaa46)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff4755 0%,#fcaa46 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff4755 0%,#fcaa46 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff4755 0%,#fcaa46 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff4755 0%,#fcaa46 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4755', endColorstr='#fcaa46',GradientType=0 ); /* IE6-9 */
	text-align: center;
	line-height: 3;
>>>>>>> 4927220cd255c1522ef14d8cbd6cfe26a3b6d879
	font-size: 18px;

}
article{
	background: #E5399E;
	border-style: double;
	border-width: 5px;
	padding: 20px;
	margin-bottom: 15px;
}
article header{
	margin-bottom: 15px;
}
article footer{
	text-align: right;
}
article p{
	margin-bottom: 15px;
}
img{
	margin: 10px;
	 height: 150px;
}